@import "./properties";

.app {
  position: relative;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  border-top: 1px solid $border-color-grey;
  background-color: $background-dark;
  color: $font-color-footer;

  .icons{
    width: 90%;
    margin: 3% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    .icon {
      margin: 0;
      font-size: 25px;
      
      &:hover {
        color: $background-grey;
      }
    }
    
    img {
      width: 25px;
      border-radius: 50%;
    }
  }
}